@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Why Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/about.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="section" style="width:100%; min-height:100vh">
        <div class="container" style="width:100%; display:block; margin: auto; padding-top: 100px">
            <div class="content-section" style=" float: left">
                <div class="tile" style="width: 100%; display: flex; align-items: center; text-transform: uppercase; font-size: 24px; color: #a92c09; letter-spacing: 1.5px; margin-left: 20px">
                    <h1> Why Us</h1>
                </div>
                <div class="content" style="width: 85%; display: grid;  grid-gap: 35px; margin: 20px auto ">
                    <p style="color:#000000; font-size: 20px;  letter-spacing: .5px; margin-top:20px">
                        ╾ Play on up to five devices concurrent via just one account! <br>
                        ╾ Unlimited access to over hundreds most popular Android Games <br>
                        ╾ New top games added every month <br>
                        ╾ 100% free from on malware and viruses <br>
                        ╾ There are no hidden fees! <br>
                        ╾ No ads!
                    </p>
                    <div class="button">
                        <a style="font-size: 22px; text-decoration: none; padding: 12px 10px; background-color: #7a2f2f; border-radius: 20px; color: aliceblue; border: 0px solid #cc0000; margin-top: 10px" href="">Read More</a>
                    </div>
                    <div class="social" style="margin:30px 30px ">
                        <link rel=stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <i style="color:cornflowerblue; font-size:30px; padding:0px 7px" class="fa fa-twitter"> </i>
                        <link rel=stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <i style="color:cornflowerblue; font-size:30px; padding:0px 7px" class="fa fa-facebook-f"> </i>
                        <link rel=stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <i style="color:cornflowerblue; font-size:30px; padding:0px 7px" class="fa fa-instagram"> </i>

                    </div>
                </div>
                <div class="image-section" style=" margin:auto ;width :80%">
                    <img style="width:60% ; height:60%" src="https://mma.prnewswire.com/media/631948/GameStore_Logo.jpg?p=facebook" />
                </div>
            </div>

        </div>

    </div>   


</body>
</html>